@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #0A0C18;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2563eb transparent;
}

html{
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}
